.form {
  width: 100vh;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  width: 385px;
  margin: auto;
}

.form__label {
  margin-bottom: 8px;
  align-self: baseline;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  width: 385px;
  border-radius: 3px;
  padding: 15px 20px 15px 20px;
  margin-bottom: 32px;
}

.form__submit {
  width: 100%;
  border-radius: 3px;
  padding: 20px 0 20px 0;
  background-color: #1878dc;
  color: #fff;
  margin: 32px 0 32px 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__submit:hover {
  background-color: #3f96f3;
}

.form__checkbox__container {
  display: flex;
  align-items: center;
}

.form__checkbox-label {
  display: flex;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 32px 0 0 0;
}

.form__checkbox {
  margin-right: 12px;
  height: 20px;
  width: 20px;
}
