.cards {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  flex-direction: row;
}

.cards__menu {
  list-style: none;
}

.cards__menu-heading {
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.cards__menu_filter {
  background-color: red;
  padding: 0 auto 0 auto;
}

.cards__menu_espresso {
  background-color: red;
  padding: 0 auto 0 auto;
}

.cards__menu_baked-goods {
  flex-basis: 100%;
  background-color: red;
}

.cards__menu-item {
  padding-bottom: 16px;
}

.cards__menu-item:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}
